* {
	padding:0;
	margin:0;
}

body {
	margin:0;
	background-color:#ECF1EF;
}

p {
	padding:5px;
}

h1 {
	margin-bottom:5px;
}

img {
	border:none;
}

input[type=submit] {
	padding:3px;
}

.center_box {
	text-align:left;
	width:965px;
}

.error_message {
	font-size:1.4em;
	color:#FF0000;
}

#top_header {
	margin:0;
	padding:0;
	height:75px;
	background-color:#000000;
	color:#FFFFFF;
}

#top_nav {
	float:left;
	
}

#top_nav ul {
	list-style:none;
	padding:0px;
}

#top_nav li {
	font-family:"Comic Sans MS";
	float:left;
	margin-right:20px;
	font-size:1.4em;
	margin-top:25px;
}

#top_nav .settings {
	position:relative;
	bottom:3px;
}

#top_nav a {
	color:#FFFFFF;
	text-decoration:none;
}

#top_nav a:hover {
	color:#FFFFFF;
}

#content {
	background-color:#FFFFFF;
	margin:0;
	padding:0;
	padding-bottom:25px;
	padding-top:25px;
}

#footer {
	border-top: solid #000000; 1px;
}

.pantry_group {
	margin-bottom:100px;
	list-style:none;
	min-height:50px;
}

.pantry_group li {
	clear:both;
}

.food_item p {
	float:left;
}

.food_item .quantity {
	font-size:2.0em;
	font-weight:bold;
	color:#66CD00;
	width:35px;
	position:relative;
	top:-7px;
}

.food_item .food_name {
	font-size:1.4em;
	letter-spacing:.1em;
	width:300px;

}

.food_item .image_anchor {
	cursor:pointer;
	margin-left:3px;
}
